<mat-card>

  <img mat-card-image src="/assets/simple-card-deck.svg" alt="Illustration of a Simple Card Deck">

  <mat-card-content>

    <h1 class="mat-headline">Welcome</h1>

    <div class="grid">
      <div class="row">
        <div class="col">
          <button class="d-block w-100" mat-raised-button color="primary">START A NEW GAME</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="d-block w-100" mat-raised-button color="accent">JOIN A GAME</button>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
